# Ignore all .terraform directories
**/.terraform/

# Ignore Terraform state files
*.tfstate
*.tfstate.*

#ignore lock & txt files
*.lock*
*.txt

# Ignore crash log files
crash.log

# Ignore CLI configuration files
.terraformrc
terraform.rc