# Ignore all .terraform directories
**/.terraform/

# Ignore Terraform state files
*.tfstate
*.tfstate.*

#ignore lock files
*.lock*

# Ignore crash log files
crash.log

# Ignore CLI configuration files
.terraformrc
terraform.rc